#todo-list {
  margin-top: 50px;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    &:has(input[type="checkbox"]:checked) {
      text-decoration: line-through;
      order: 1;
    }

    input {
      cursor: pointer;
    }

    label {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      transition: font-size 0.2s ease-in-out;
      &:hover {
        font-size: 115%;
      }
    }
  }
}
